<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="hooDashboardLandingPage" th:remove="tag">
    <div class="row">
        <div class="col-md-12">
            <div class="lg-rectbox">
                <div class="lg-rectbox-header"></div>
                <div class="lg-rectbox-body">
                    <h3 class="text-center lg-rectbox-heading pb-1" style="position: relative">
                        <div class='input-group date' style="display: inline-flex;width: 200px;position: absolute;left: 0;top: -6px;" id="customReportMonthYear">
                            <input id="currentMonthYearValue" class="form-control" style="font-size: 14px!important;" type="text" onchange="changeCurrentMonthYear(event.target.value)" readonly>
                            <span class="input-group-addon" style="width: auto;">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span class="monthToBeShown"></span>&nbsp;মাসের অভিযোগ নিষ্পত্তির চিত্র

                        <div style="float: right;">
                            <button id="toggleViewBtn" style="cursor: pointer;" class="btn" onclick="toggleTable()">
                                <i id="tableIcon" class="fa fa-table mr-0" style="color: black;" aria-hidden="true"></i>
                                <i id="chartIcon" class="fa fa-pie-chart mr-0 d-none" style="color: black;" aria-hidden="true"></i>
                            </button>
                        </div>

                    </h3>
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-12 py-2">
                            <div class="md-rectbox">
                                <figure class="highcharts-figure">
                                    <div id="chart_1"></div>
                                </figure>
                                <div class="tabular-data d-none">
                                    <h3 class="text-center md-heading">প্রাপ্ত অভিযোগ</h3>
                                    <div class="col-md-12 col-sm-12 col-12 h-100 text-center">
                                        <div class="row py-2">
                                            <div class="col-md-8 col-sm-8 col-9 col-xs-9 sm-box-1 text-center sm-min-height1">
                                                <h3 class="text-center grievance-submitted-heading">মোট অভিযোগ</h3>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-3 col-xs-3 sm-box-1 text-center sm-min-height1">
                                                <button type="button" id="totalSubmittedGrievance" class="btn btn-type1">০</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-right-5 xs-2">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">বর্তমান মাসে প্রাপ্ত</h3>
                                                <button type="button" id="currentMonthAcceptance" class="btn">০</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-left-5">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">জের</h3>
                                                <button type="button" id="ascertainOfLastMonth" class="btn">০</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-6 col-12 py-2">
                            <div class="md-rectbox">
                                <figure class="highcharts-figure">
                                    <div id="chart_2"></div>
                                </figure>
                                <div class="tabular-data d-none">
                                    <h3 class="text-center md-heading">প্রাপ্ত অভিযোগের অবস্থা</h3>
                                    <div class="row py-2">
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-right-5 xs-2">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">চলমান</h3>
                                                <button type="button" id="runningGrievances" class="btn">০</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-left-5">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">অন্য দপ্তরে প্রেরিত</h3>
                                                <button type="button" id="forwardedGrievances" class="btn">০</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-right-5 xs-2">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">সময় অতিক্রান্ত</h3>
                                                <button type="button" id="timeExpiredGrievances" class="btn">০</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-left-5">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">নিষ্পত্তিকৃত</h3>
                                                <button type="button" id="resolvedGrievances" class="btn">০</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-12 py-2">
                            <div class="md-rectbox2 border-assh py-2">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="list-group right-two-list-group">
                                            <div class="list-group-item">
                                                <span class="list-icon"><img src="/assets/global/img/dashboard/grievance-resolve-rate.png" ></span>অভিযোগ নিষ্পত্তির হার<span class="item-count">(<span id="resolveRate">০.০</span>%)</span>
                                            </div>
                                            <div class="list-group-item">
                                                <span class="list-icon"><img src="/assets/global/img/dashboard/grievance-appeal-rate.png" ></span>আপিলের হার<span class="item-count">(<span id="rateOfAppealedGrievance">০.০</span>%)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="md-rectbox2 border-assh">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="list-group right-two-list-group">
                                            <div class="list-group-item">
                                                <span class="list-icon"><img src="/assets/global/img/dashboard/dashboard-rating-total.png" ></span>মোট প্রতিক্রিয়া<span class="item-count"><span id="totalRating">০</span> টি</span>
                                            </div>
                                            <div class="list-group-item">
                                                <span class="list-icon"><img src="/assets/global/img/dashboard/dashboard-rating-average.png" ></span>গড় রেটিং<span class="item-count"><span id="averageRating">০.০</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" th:if="${canViewAppealAndSubOfficeDashboard}">
        <div class="col-md-12">
            <div class="lg-rectbox">
                <div class="lg-rectbox-header-darkblue">
                </div>
                <div class="lg-rectbox-body">
                    <h3 class="text-center lg-rectbox-heading"><span class="monthToBeShown"></span> মাসের আপিল নিষ্পত্তির চিত্র</h3>
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-12 py-2">
                            <div class="md-rectbox border-dark-blue">
                                <figure class="highcharts-figure">
                                    <div id="chart_3"></div>
                                </figure>
                                <div class="tabular-data d-none">
                                    <h3 class="text-center md-heading">প্রাপ্ত আপিল</h3>
                                    <div class="col-md-12 col-sm-12 col-12 h-100 text-center">
                                        <div class="row py-2">
                                            <div class="col-md-8 col-sm-8 col-9 col-xs-9 sm-box-1 text-center sm-min-height1">
                                                <h3 class="text-center grievance-submitted-heading">মোট আপিল</h3>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-3 col-xs-3 sm-box-1 text-center sm-min-height1">
                                                <button type="button" id="appealTotal" class="btn btn-type2">০</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-right-5 xs-2">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">বর্তমান মাসে প্রাপ্ত</h3>
                                                <button type="button" id="appealCurrentMonthAcceptance" class="btn">০</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-left-5">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">জের</h3>
                                                <button type="button" id="appealAscertain" class="btn">০</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-12 py-2">
                            <div class="md-rectbox">
                                <figure class="highcharts-figure">
                                    <div id="chart_4"></div>
                                </figure>
                                <div class="tabular-data d-none">
                                    <h3 class="text-center md-heading">প্রাপ্ত আপিলের অবস্থা</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-right-5 py-2">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">চলমান</h3>
                                                <button type="button" id="appealRunning" class="btn">০</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-12 text-center padding-left-5 py-2">
                                            <div class="sm-box-1 h-100">
                                                <h3 class="text-center sm-heading">সময় অতিক্রান্ত</h3>
                                                <button type="button" id="appealTimeExpired" class="btn">০</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-12">
                                            <div class="sm-box-1 h-100 py-2 text-center sm-min-height2">
                                                <h3 class="text-center sm-heading">নিষ্পত্তিকৃত</h3>
                                                <button type="button" id="appealResolved" class="btn btn-type3">০</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-12 py-2">
                            <div class="md-rectbox2 border-assh py-2">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="list-group right-list-group">
                                            <div class="list-group-item">
                                                <span class="list-icon"><img src="/assets/global/img/dashboard/appeal-resolve-rate.png" ></span>আপিল নিষ্পত্তির হার<span class="item-count">(<span id="appealResolveRate">০.০</span>%)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" th:if="${canViewAppealAndSubOfficeDashboard}">
        <div class="col-md-12">
            <div class="lg-rectbox">
                <div class="lg-rectbox-header-blue2">
                </div>
                <div class="lg-rectbox-body">
                    <h3 class="text-center lg-rectbox-heading" style="color:#5653ba"><span class="monthToBeShown"></span> মাসের আওতাধীন দপ্তরসমূহের সামগ্রিক চিত্র</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12 py-2">
                            <div class="md-rectbox border-dark-blue">
                                <h3 class="text-center md-heading">প্রাপ্ত অভিযোগের অবস্থা</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-12 text-center padding-right-5 py-2">
                                        <div class="sm-box-1 h-100">
                                            <h3 class="text-center sm-heading">মোট প্রাপ্ত অভিযোগ</h3>
                                            <button type="button" id="subOfficesTotalGrievance" class="btn">০</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-12 text-center padding-left-5 py-2">
                                        <div class="sm-box-1 h-100">
                                            <h3 class="text-center sm-heading">সময় অতিক্রান্ত</h3>
                                            <button type="button" id="subOfficesTimeExpiredGrievance" class="btn">০</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="sm-box-1 h-100 py-2 text-center sm-min-height2">
                                            <h3 class="text-center sm-heading">নিষ্পত্তিকৃত অভিযোগ</h3>
                                            <button type="button" id="subOfficesResolvedGrievance" class="btn btn-type3">০</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 py-2">
                            <div class="md-rectbox border-dark-blue">
                                <h3 class="text-center md-heading">প্রাপ্ত আপিলসমূহের সামগ্রিক অবস্থা</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-12 text-center padding-right-5 py-2">
                                        <div class="sm-box-1 h-100">
                                            <h3 class="text-center sm-heading">মোট আপিল</h3>
                                            <button type="button" id="subOfficesTotalAppeal" class="btn">০</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-12 text-center padding-left-5 py-2">
                                        <div class="sm-box-1 h-100">
                                            <h3 class="text-center sm-heading">সময় অতিক্রান্ত</h3>
                                            <button type="button" id="subOfficesTimeExpiredAppeal" class="btn">০</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="sm-box-1 h-100 py-2 text-center sm-min-height2">
                                            <h3 class="text-center sm-heading">নিষ্পত্তিকৃত আপিল</h3>
                                            <button type="button" id="subOfficesResolvedAppeal" class="btn btn-type3">০</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 py-2">
                            <div class="md-rectbox2 border-assh py-2">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="list-group right-list-group">
                                            <div class="list-group-item">
                                                <span class="list-icon"><img src="/assets/global/img/dashboard/suboffices-grievance-resolve-rate.png"></span>অভিযোগ নিষ্পত্তির হার<span class="item-count">(<span id="subOfficesGrievanceResolveRate">০.০</span>%)</span>
                                            </div>
                                            <div class="list-group-item">
                                                <span class="list-icon"><img src="/assets/global/img/dashboard/suboffices-appeal-resolve-rate.png"></span>আপিল নিষ্পত্তির হার<span class="item-count">(<span id="subOfficesAppealResolveRate">০.০</span>%)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:fragment="hooDashboardLandingPageScript">

    function toggleTable() {
        let tableIcon = document.getElementById("tableIcon");
        let chartIcon = document.getElementById("chartIcon");
        let chartFigures = document.querySelectorAll(".highcharts-figure");
        let tableFigures = document.querySelectorAll(".tabular-data");

        if (!tableIcon.classList.contains("d-none")) {
            chartIcon.classList.remove("d-none");
            tableIcon.classList.add("d-none");

            tableFigures.forEach(elem => elem.classList.remove("d-none"));
            chartFigures.forEach(elem => elem.classList.add("d-none"));
        } else {
            tableIcon.classList.remove("d-none");
            chartIcon.classList.add("d-none");

            tableFigures.forEach(elem => elem.classList.add("d-none"));
            chartFigures.forEach(elem => elem.classList.remove("d-none"));
        }
    }
    function convertToBengaliNumerals(number) {
        const bengaliNumerals = ['০', '১', '২', '৩', '৪', '৫', '৬', '৭', '৮', '৯'];
        return number.toString().split('').map(function(digit) {
            return isNaN(digit) ? digit : bengaliNumerals[digit];
        }).join('');
    }

    function renderGrievanceResolvedChart(
        id,
        runningGrievances,
        forwardedGrievances,
        resolvedGrievances,
        timeExpiredGrievances,
        totalSubmittedGrievance
    ) {
        Highcharts.chart(id, {
            chart: {
                type: 'pie',
                custom: {},
                events: {
                    render() {
                        const chart = this,
                            series = chart.series[0];
                        let customLabel = chart.options.chart.custom.label;

                        if (!customLabel) {
                            customLabel = chart.options.chart.custom.label =
                                chart.renderer.label(
                                    'মোট অভিযোগ<br/>' +
                                    `<strong>${convertToBengaliNumerals(totalSubmittedGrievance)}</strong>`
                                )
                                    .css({
                                        color: '#000',
                                        textAnchor: 'middle'
                                    })
                                    .add();
                        }

                        const x = series.center[0] + chart.plotLeft,
                            y = series.center[1] + chart.plotTop -
                                (customLabel.attr('height') / 2);

                        customLabel.attr({
                            x,
                            y
                        });
                        customLabel.css({
                            fontSize: `${series.center[2] / 14}px`
                        });
                    }
                }
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            title: {
                text: 'প্রাপ্ত অভিযোগের অবস্থা',
                style: {
                    fontSize: '1.5em'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>' + convertToBengaliNumerals('{point.y}') + '</b>',
                style: {
                    fontSize: '14px',
                    color: '#333'
                },
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: ' + convertToBengaliNumerals(this.y);
                }
            },
            legend: {
                enabled: false
            },
            credits:{
                enabled: false
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    borderRadius: 8,
                    dataLabels: [{
                        enabled: true,
                        distance: 20,
                        format: '{point.name}',
                        style: {
                            fontSize: '1.3em',
                            fontWeight: 'bold',
                            color: 'black'
                        }
                    }, {
                        enabled: true,
                        distance: -25,
                        formatter: function () {
                            return convertToBengaliNumerals(this.y);
                        },
                        style: {
                            fontSize: '1.5em'
                        }
                    }],
                    showInLegend: true
                }
            },
            series: [{
                name: 'সংখ্যা',
                colorByPoint: false,
                innerSize: '65%',
                data: [{
                    name: 'চলমান',
                    y: runningGrievances,
                    color: '#67a0de'
                }, {
                    name: 'অন্য দপ্তরে প্রেরিত',
                    y: forwardedGrievances,
                    color: '#ff9a2c'
                }, {
                    name: 'নিষ্পত্তিকৃত',
                    y: resolvedGrievances,
                    color: '#54c746'
                }, {
                    name: 'সময় অতিক্রান্ত',
                    y: timeExpiredGrievances,
                    color: '#ff5e52'
                }]
            }]
        });
    }

    function renderAppealResolvedChart(
        id,
        appealRunning,
        appealTimeExpired,
        appealResolved,
        appealTotal
    ) {
        Highcharts.chart(id, {
            chart: {
                type: 'pie',
                custom: {},
                events: {
                    render() {
                        const chart = this,
                            series = chart.series[0];
                        let customLabel = chart.options.chart.custom.label;

                        if (!customLabel) {
                            customLabel = chart.options.chart.custom.label =
                                chart.renderer.label(
                                    'মোট আপিল<br/>' +
                                    `<strong>${convertToBengaliNumerals(appealTotal)}</strong>`
                                )
                                    .css({
                                        color: '#000',
                                        textAnchor: 'middle'
                                    })
                                    .add();
                        }

                        const x = series.center[0] + chart.plotLeft,
                            y = series.center[1] + chart.plotTop -
                                (customLabel.attr('height') / 2);

                        customLabel.attr({
                            x,
                            y
                        });
                        customLabel.css({
                            fontSize: `${series.center[2] / 14}px`
                        });
                    }
                }
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            title: {
                text: 'প্রাপ্ত আপিলের অবস্থা',
                style: {
                    fontSize: '1.5em'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>' + convertToBengaliNumerals('{point.y}') + '</b>',
                style: {
                    fontSize: '14px',
                    color: '#333'
                },
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: ' + convertToBengaliNumerals(this.y);
                }
            },
            legend: {
                enabled: false
            },
            credits:{
                enabled: false
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                series: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    borderRadius: 8,
                    dataLabels: [{
                        enabled: true,
                        distance: 20,
                        format: '{point.name}',
                        style: {
                            fontSize: '1.3em',
                            fontWeight: 'bold',
                            color: 'black'
                        }
                    }, {
                        enabled: true,
                        distance: -25,
                        formatter: function () {
                            return convertToBengaliNumerals(this.y);
                        },
                        style: {
                            fontSize: '1.5em'
                        }
                    }],
                    showInLegend: true
                }
            },
            series: [{
                name: 'সংখ্যা',
                colorByPoint: false,
                innerSize: '65%',
                data: [{
                    name: 'চলমান',
                    y: appealRunning,
                    color: '#67a0de'
                }, {
                    name: 'নিষ্পত্তিকৃত',
                    y: appealResolved,
                    color: '#54c746'
                }, {
                    name: 'সময় অতিক্রান্ত',
                    y: appealTimeExpired,
                    color: '#ff5e52'
                }]
            }]
        });
    }

    function renderPie(id, title, resolveRate, unresolveRate) {
        Highcharts.chart(id, {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: title,
                align: 'center',
                style: {
                    fontSize: '1.5em'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>' + convertToBengaliNumerals('{point.percentage:.1f}') + '%</b>',
                style: {
                    fontSize: '14px' // Set font size for the tooltip text (hover label and value)
                },
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: ' + convertToBengaliNumerals(this.y);
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        style: {
                            fontSize: '1.3em' // Increase font size of the data labels
                        },
                        formatter: function () {
                            return '<span style="font-size: 1.2em"><b>' + this.point.name + '</b></span><br>' +
                                '<span style="opacity: 0.6">' + convertToBengaliNumerals(this.percentage.toFixed(1)) + ' %</span>';
                        },
                        connectorColor: 'rgba(128,128,128,0.5)'
                    }
                }
            },
            series: [{
                name: 'হার',
                data: [
                    { name: 'নিষ্পন্ন', y: resolveRate, color: '#92ff80' },
                    { name: 'অনিষ্পন্ন', y: unresolveRate, color: '#ff827b' }
                ]
            }]
        });
    }

</script>